<!DOCTYPE html>
<html>
  <head>
    <title>John Maynard Keynes</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
    <%/* <meta name="robots" content="noindex"> */%>




    <!--STYLES-->
    <link rel="stylesheet" href="/styles/all.css">
    <link rel="stylesheet" href="/styles/all.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-grid.css">
    <link rel="stylesheet" href="/styles/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-reboot.css">
    <link rel="stylesheet" href="/styles/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/brands.css">
    <link rel="stylesheet" href="/styles/brands.min.css">
    <link rel="stylesheet" href="/styles/fontawesome.css">
    <link rel="stylesheet" href="/styles/fontawesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/regular.css">
    <link rel="stylesheet" href="/styles/regular.min.css">
    <link rel="stylesheet" href="/styles/solid.css">
    <link rel="stylesheet" href="/styles/solid.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/svg-with-js.css">
    <link rel="stylesheet" href="/styles/svg-with-js.min.css">
    <link rel="stylesheet" href="/styles/v4-shims.css">
    <link rel="stylesheet" href="/styles/v4-shims.min.css">
    <!--STYLES END-->
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  </head>

  <body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/"><i class="fas fa-home "></i> Inicio</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-blogger-b "></i> Blog</a>
                
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-quote-right"></i> Frases</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                  <a class="nav-link" href="#sticky-footer"><i class="fas fa-phone-square-alt"></i> Contactos </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fas fa-user-shield"></i> Politicas de privacidad</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signIn"><i class="fas fa-sign-in-alt"></i> iniciar secion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signUp"> <i class="fa fa-user-plus" aria-hidden="true"></i> Registrarme</a>
                </li>
              </ul>
           
          </div>
        </nav>
        
    <%- body %>


    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
          <small>Copyright &copy; York Louis Celestino 2016-0662</small>
        </div>
    </footer>


    
    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/js/all.js"></script>
    <script src="/js/all.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/brands.js"></script>
    <script src="/js/brands.min.js"></script>
    <script src="/js/conflict-detection.js"></script>
    <script src="/js/conflict-detection.min.js"></script>
    <script src="/js/fontawesome.js"></script>
    <script src="/js/fontawesome.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/regular.js"></script>
    <script src="/js/regular.min.js"></script>
    <script src="/js/solid.js"></script>
    <script src="/js/solid.min.js"></script>
    <script src="/js/v4-shims.js"></script>
    <script src="/js/v4-shims.min.js"></script>
    <!--SCRIPTS END-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
