<div class="container">
    <br>
    <h1 class="text-center">John Maynard Keynes</h1>
    <hr>
    <br><br>
    <img style="float: left; padding: 20px;"src="https://images.gr-assets.com/authors/1244623131p5/159357.jpg" alt="john Maynard imagen">
   <br>
   <br>
   <br>
    <p>John Maynard Keynes nació en Cambridge, Reino Unido el 5 de junio de 1883 . 
        Fue uno de los economistas ingleses más influyentes del siglo XX gracias 
        a su repercusión en las políticas económicas.
    Procede de una familia culta y bien acomodada; sus padres John Neville Keynes 
    y Florence Ada Brown, junto con su hermana y hermano, Margaret y Geoffrey Keynes,
     fueron el ejemplo a seguir del pequeño economista. La educación de John fue excelente,
      pasó por el Colegio Eton y el King’s College de la Universidad de Cambridge en el cual 
      estudió matemáticas, teoría de las probabilidades y economía, convirtiéndose así, 
      poco a poco, en todo un humanista erudito. En sus tiempos universitarios 
      formó parte del circulo Bloomsbury, grupo artístico e intelectual formado por 
      la escritora Virginia Woolf, los filósofos Bertrand Russell y Ludwig Wittgenstein, 
      entre sus integrantes se encontraban Clive Bell,  el hispanista Gerald Brenan, 
       Lytton Strachey, Vanessa  Bell Grant y EM Forster; todos promovían un orden 
       contrario y alternativo a la propuesta victoriana dominante.
    Su carrera como economista inició en 1906 cuando fue nombrado funcionario público
     del Home Civil Service, donde aprendería todo sobre la economía india. Producto de 
     esto escribió en 1913 el libro Moneda y finanzas en la India. Después, tras considerar
      su trabajo actual, decidió renunciar, e irse a trabajar en la Universidad de Cambridge 
      en el departamento de teoría de probabilidades. Todas las obras de Keynes están asociadas
       a tratar de hallar soluciones a los problemas económicos por los que estuviese pasando 
       la economía mundial, así Las consecuencias económicas de la paz, escrito en 1919, 
       trata las implicaciones y consecuencias económicas impuestas a Alemania en el Tratado de
        Versalles; igual que en el Tratado sobre probabilidades, Keynes ataca las políticas
         deflacionarias de los años 20 sobre la reforma monetaria de 1923, con una profunda 
         argumentación sobre por qué los países deberían apuntar a la estabilidad de los precios
          domésticos al tiempo de proponer el uso de tipos de cambio flexibles, y así muchísimas
           más obras, que conforman todo el trabajo del economista.
    En 1925 contrajo matrimonio con Lidya Lopokova, una bailarina rusa que Keynes conoció 
    gracias a su fascinación por las obras de Sergéi Diaghilev. No obstante, antes de conocerla en 1918, se le asociaron varias parejas masculinas, confirmando su homosexualidad.
</p>
    <br>
    <h2> <strong>Teoría keynesiana</strong></h2>
    <br>
    <p>Keynes centró su carrera en explicar la depresión y la naturaleza de los ciclos económicos.
         Proporcionó recomendaciones de política para reconducir la economía hacia el pleno empleo
          y reducir la severidad y duración de los ciclos económicos. Creía que los cambios en la 
          demanda agregada se debían a cambios en las expectativas, que eran los causantes de la 
          existencia de los ciclos.
    La escuela de pensamiento Keynesiana,
     consideraba que dichos cambios en las expectativas dependían del optimismo de 
     aquellos que manejaban las empresas. De hecho, Keynes comentaba que sobreinvertían 
     o producían más cuando eran muy optimistas sobre el ciclo económico, es decir, 
     cuando había expectativas de crecimiento del producto interior bruto (PIB). 
     Por el contrario, cuando todos consideraban que el crecimiento del PIB era incierto, 
     desinvertían y producían menos.</p>
    
    
</div>





